@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Polizia di Stato</h1>
    <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Stemma_Polizia.png/217px-Stemma_Polizia.png" alt="img"></a>
    <h2 class="mt-3">Benvenuto sul sito della Polizia di Stato</h2>
    <h5 class="mb-3"></h5>
    <a href="#"><img src="https://www.poliziadistato.it/statics/18/banner_truffe_anziani.jpg" alt="img"></a>
    <a href="#"><img src="https://www.poliziadistato.it/statics/28/banner-alserviziodelpaese-desktop-1094_100.jpg" class="mt-3" alt="img"></a>
   
</div>
