@{
    ViewData["Title"] = "AggiungiVerbale";
}

<div class="container">
    <h1 class="text-center">Inserisci Verbale</h1>
    <form asp-controller="Verbale" asp-action="AggiungiVerbale" method="post">
        <div class="justify-content-center container">
            <div class="d-flex flex-column align-items-center">
                <span class="text-danger" id="validationSummary"></span>
                <div class="d-flex justify-content-center">
                    <div class="form-group">
                        <h6>Tipo Violazione</h6>
                        <select name="IdViolazione" class="form-control">
                            <option value="">Seleziona una violazione</option>
                            <option value="1">Eccesso di velocità</option>
                            <option value="2">Occupazione abusiva di suolo pubblico</option>
                            <option value="3">Consumo non autorizzato in area pubblica</option>
                            <option value="4">Mancata esposizione del ticket di parcheggio</option>
                            <option value="5">Attraversamento della strada in luogo non consentito</option>
                            <option value="6">Mancato pagamento del biglietto del trasporto pubblico</option>
                            <option value="7">Occupazione abusiva di suolo privato</option>
                            <option value="8">Vendita di merce contraffatta</option>
                        </select>
                        <span class="text-danger" id="idViolazioneError"></span>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="form-group mx-3 mb-3">
                        <h6>Data Violazione</h6>
                        <input type="text" name="DataViolazione" class="form-control" />
                        <span class="text-danger" id="dataViolazioneError"></span>
                    </div>
                    <div class="form-group">
                        <h6>Indirizzo Violazione</h6>
                        <input type="text" name="IndirizzoViolazione" class="form-control" />
                        <span class="text-danger" id="indirizzoViolazioneError"></span>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="form-group mx-3 mb-3">
                        <h6>Nominativo Agente</h6>
                        <input type="text" name="Nominativo_Agente" class="form-control" />
                        <span class="text-danger" id="nominativoAgenteError"></span>
                    </div>
                    <div class="form-group">
                        <h6>Data Trascrizione Verbale</h6>
                        <input type="text" name="DataTrascrizioneVerbale" class="form-control" />
                        <span class="text-danger" id="dataTrascrizioneVerbaleError"></span>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="form-group mx-3 mb-3">
                        <h6>Importo</h6>
                        <input type="text" name="Importo" class="form-control" />
                        <span class="text-danger" id="importoError"></span>
                    </div>
                    <div class="form-group">
                        <h6>Punti Decurtati</h6>
                        <input type="text" name="DecurtamentoPunti" class="form-control" />
                        <span class="text-danger" id="decurtamentoPuntiError"></span>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Aggiungi Verbale</button>
                </div>
            </div>
        </div>
    </form>
</div>
